@model FinalProject.Models.RegisterViewModel
@{
    ViewBag.Title = "Create User with Role";
}

<h2>Create User with Role</h2>

@Html.ValidationSummary(true)

<form asp-action="Create" asp-controller="RoleAdmin">
    <div class="form-group">
        <label for="Email">Email</label>
        <input type="email" id="Email" name="Email" class="form-control" />
    </div>

    <div class="form-group">
        <label for="PhoneNumber">Phone Number</label>
        <input type="tel" id="PhoneNumber" name="PhoneNumber" class="form-control" />
    </div>

    <div class="form-group">
        <label for="FirstName">First Name</label>
        <input type="text" id="FirstName" name="FirstName" class="form-control" />
    </div>

    <div class="form-group">
        <label for="LastName">Last Name</label>
        <input type="text" id="LastName" name="LastName" class="form-control" />
    </div>

    <div class="form-group">
        <label for="DateOfBirth">Date of Birth</label>
        <input type="date" id="DateOfBirth" name="DateOfBirth" class="form-control" />
    </div>

    <div class="form-group">
        <label for="Street">Street</label>
        <input type="text" id="Street" name="Street" class="form-control" />
    </div>

    <div class="form-group">
        <label for="City">City</label>
        <input type="text" id="City" name="City" class="form-control" />
    </div>

    <div class="form-group">
        <label for="State">State</label>
        <input type="text" id="State" name="State" class="form-control" />
    </div>

    <div class="form-group">
        <label for="Zip">Zip</label>
        <input type="text" id="Zip" name="Zip" class="form-control" />
    </div>

    <div class="form-group">
        <label for="Password">Password</label>
        <input type="password" id="Password" name="Password" class="form-control" />
    </div>

    <div class="form-group">
        <label for="ConfirmPassword">Confirm Password</label>
        <input type="password" id="ConfirmPassword" name="ConfirmPassword" class="form-control" />
    </div>

    <div class="form-group">
        <label for="roleName">Role Name</label>
        <input type="text" id="roleName" name="roleName" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Create User</button>

    <a asp-action="Index" class="btn btn-warning">Cancel</a>
</form>
